body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}
.header-container {
    display: flex;
    padding-left: 50px;
}
.header-half {
    width: 50%;
}
.header-half h1 span {
    color: #f1314f;
    font-size: 40px;
}
.header-half .same {
    color: #2f3542;
}
.header-half .one {
    font-size: 30px;
    margin-top: 0;
    width: 35%;
}
.header-half .two {
    margin-bottom: 50px;;
}
.link-button {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #ff6b81, #f23250);
    border-radius: 20px;
    padding: 12px 22px;
    font-size: 14px;
    color: #FFFFFF;
}
.header-half img {
    width: 60%;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}





.about-container {
    display: flex;
    padding-left: 100px;
    margin-top: 70px;
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.about-half {
    width: 50%;
}
.about-half img {
    width: 40%;
    margin-top: 40px;
}
.about-half h1 {
    color: #2d3436;
    font-size: 35px;
}
.about-half p {
    width: 60%;
    margin-bottom: 100px;
}








