body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}
.header-container {
    display: flex;
    padding-left: 50px;
}
.header-half {
    width: 50%;
}
.header-half h1 span {
    color: #f1314f;
    font-size: 40px;
}
.header-half .same {
    color: #2f3542;
}
.header-half .one {
    font-size: 30px;
    margin-top: 0;
    width: 35%;
}
.header-half .two {
    margin-bottom: 40px;;
}
.header-half a {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #ff6b81, #f23250);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: #FFFFFF;
    
}
.header-half img {
    width: 60%;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}